@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PAAS</h1>
    <p class="lead">
        Applying to a postgraduate course at the University of Witwatersrand has never been easier. PAAS makes the entire application
        process paperless and streamlines the process from start to finish, ensuring that the applicant gets an efficient evaluation and a swift reply with their application status.
    </p>
        <img src="@Url.Content("~/Images/ArcSchlLogo.png")" alt="Thumbnail image" style="width:200px;height:200px;" />
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Apply now</h2>
        <p style="font-size:130%;">
            Are you interested in applying to a postgraduate course at the University of Witwatersrand? Get your application under way by clicking the button below. The process is quick
            and easy, and shouldn't take more than 20 minutes to complete.
        </p>
        @Html.ActionLink("Apply Now", "Create", "Applications", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>