@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Jan Smuts Avenue<br />
    Braamfontein, 2000<br />
    Johannesburg, South Africa<br />
    <br />
    Private Bag 3<br />
    Wits 2050<br />
    South Africa<br />
    <br />
    Tel: +27 (0)11 717 1000
</address>

<address>
    <strong>Postgarduate Admission Enquiries:</strong>   <a href="https://universityofthewitwatersrand.zendesk.com/hc/en-us/requests/new?ticket_form_id=35551">www.wits.ac.za/askwits</a><br />
</address>